.auth-bg-image {
  background-image: url("./assets/Images/authBg1.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}
.auth-bg-image2 {
  background-image: url("./assets/Images/authBg2.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}
.auth-bg-image3 {
  background-image: url("./assets/Images/authBg3.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}
.auth-bg-image4 {
  background-image: url("./assets/Images/authBg4.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}
.height-scroll-bar::-webkit-scrollbar {
  display: none;
}
.bg-header{
  background-image: url("./assets/Images/bg-header.jpg");
  background-position: center 40%;
  background-size:100% 190%;
  background-repeat: no-repeat;
}
.bg-layer-header{
  background-color: rgba(49, 89, 81, 0.44) !important;
}
